
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: none;
    list-style: none;
    text-decoration: none;
    font-family: "Geologica", sans-serif;
    color: #000;
    scroll-behavior: smooth;
}

.div_nav{
    width: 100%;
    height: 4.063rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;z-index: 1000;
}
.div_nav_list{
    font-weight: 300;
}
.nav_logo{
    display: flex;
    color: #000;
    width: 12rem;
    justify-content: center;
    margin-left: 1rem;
}
.nav_logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav_list{
    display: flex;
    align-items: center;
}
.nav_list li{
    text-align: center;
    width: 7.5rem;
}
.nav_list li a{
    color: #031751;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
.nav_list li a:hover{
    font-weight: bold;
}
.nav_auth{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
    width: 16.25rem;
}
.nav_user{/* User profile section, home_page_nav */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 3.8rem;
    width: 8rem;
}
.nav_user_profile_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #031751;
}
.nav_auth_login{
    background-color: #031751;
    color: #fff;
    padding: 12px 10px;
    width: 8.125rem;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.nav_auth_login:hover{
    font-weight: bold;
}
.nav_auth_signup{
    background-color: #fff;
    color: #031751;
    padding: 10px 10px;
    border-radius: 10px; 
    width: 7.5rem;
    text-align: center;
    border: 2px solid #031751;
    transition: all 0.3s ease-in-out;
}
.nav_auth_signup:hover{
    font-weight: bold;
}
.hero{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    align-items: center;
    display: flex;
}
.hero_content{
    padding: 10px 20px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.hero_content h2{
    font-size: 3.438rem;
    color: #4a4b4e;
    font-weight: 300;
    width: 100%;
}
.hero_content h1{
    font-size: 5rem;
    color: #031751;
    font-weight: 600;
    width: 100%;
}
.hero_content span{
    background-color: #031751;
    height: 0.313rem;
    width: 15%;
    align-self: flex-start;
}
.hero_content p{
    font-size: 1.25rem;
    color: #4a4b4e;
    width: 100%;
    margin-top: 0.625rem;
}
.hero_buttons{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 1.25rem;
}
.hero_buttons a{
    background-color: #031751;
    color: #fff;
    padding: 12px 20px;
    text-align: center;
    border-radius: 10px;
    border: none;
    width: 12.5rem;
    font-size: 16px;
    margin: auto;
    transition: all 0.3s ease-in-out;
}
.hero_img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_img img{
    width: 80vh;
    padding: 2px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #031751;
}
.hero_img_h1{
    display: flex;
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 52%;
    height: 6.25rem;
    width: 15.625rem;
    color: #031751;
    border: 2px solid #031751;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    align-items: center;
}
.hero_img_car{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-car-side{
    font-size: 1.25rem;
    color: #fff;
    border: #031751 2px solid;
    border-radius: 50%;
    padding: 15px;
    background-color: #031751;
}
.hero_img_h1 h1{
    width: 60%;
    height: fit-content;
    font-size: 1.25rem;
    color: #031751;
    font-weight: 600;
}
.about{
    width: 100%;
    height: 70vh;
    background-color: #fff;
    display: flex;
    margin: 80px 0;
    align-items: center;
    justify-content: center;
}
.about_content{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_content h1{
    font-size: 40px;
    color: #031751;
    font-weight: bold;
}
.about_content p{
    font-size: 1.25rem;
    color: #4a4b4e;
    width: 40%;
    text-align: center;
    margin-top: 1.875rem;
}
.about_cards{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.about_card{       
    text-align: center;
    border: #000  .5px solid;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 1.875rem;
    width: 28.125rem;
    height: 70%;
}
.about_img{
    width: 5rem;
    height: 5rem;
    border-radius: 25%; 
    margin: 60px auto;
    background-color: #031751;
}
.fa-map-pin{
    font-size: 2.5rem;
    color: #e00;
    padding: 20px;
    border-radius: 50%;
    background-color: #031751;
}
.fa-bolt{
    font-size: 2.5rem;
    color: #ff0;
    padding: 20px;
    border-radius: 50%;
    background-color: #031751;
}
.fa-lightbulb{
    font-size: 2.5rem;
    color: #fc8;
    padding: 20px;
    border-radius: 50%;
    background-color: #031751;
}
.about_card h2, .about_card p{
    width: 80%;
    margin: 0 auto;
}
.about_card h2{
    color: #031751;
    margin: 50px auto 5px;
}
.about_card p{
    height: 6.563rem;
    font-size: 1.125rem;
}
.footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    height: 2.5rem;
}
.login_container, .signup_container{
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_content_logo, .signup_content_logo{
    width: 10rem;
    height: 5rem;
}
.login_content_logo img, .signup_content_logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.login_content, .signup_content{
    width: 30%;
    height: 90%;
    background-color: #fff;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}
.signup_content{
    gap: 1rem;
}
.login_form, .signup_form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 2rem;
}
.login_content_text, .signup_content_text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.login_content_text h1, .signup_content_text h1{
    font-size: 1.6rem;
    color: #031751;
}
.login_content_text p, .signup_content_text p{
    font-size: 1rem;
    color: #666;
}
.form_group{
    display: flex;
    text-align: start;
    flex-direction: column;
}
.form_group_remember{
    display: flex;
    align-items: center;
    gap: .35rem;
}
.remember_checkbox{
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .25rem;
    border: #000 1px solid;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.remember_checkbox:checked{
    background-color: #031751;
}
.remember_text{
    font-size: .9rem;
    flex: 1;
    text-align: start;
}
.remember_password{
    text-align: end;
    color: #031751;
    font-weight: 600;
    cursor: pointer;
}
.form_group label{
    font-size: 1rem;
    color: #031751;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form_group input{
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    padding: 0 1rem;
    border: 2px solid #ddd;
    font-size: 1rem;
    color: #666;
    transition: all 0.2s ease-in-out;
}
.form_group_button button{
    width: 100%;
    height: 3rem;
    background-color: #37456e;    
    color: #ddd;  
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid #37456e;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.signup_button button{
    height: 2.25rem;
}
.form_group_button button:hover{
    background-color: #031751;
    border: 2px solid #031751;
    color: #fff;
}
.login_container_footer, .signup_container_footer{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.login_content_footer_register, .signup_content_footer_register{
    width: 100%;
    font-size: 1rem;
    color: #666;
}
.login_content_footer_register a, .signup_content_footer_register a{
    color: #031751;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.login_social_media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.login_social_media_link{
    border: #000 1px solid;
    border-radius: .5rem;
    width: 9rem;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}
.login_social_media_link:hover{
    background-color: #eee;
}
.login_content_footer_terms{
    width: 100%;
    font-size: 0.7rem;
    color: #666;
    text-align: center;
}
.login_content_footer_terms a{
    color: #031751;
    font-weight: 400;
}
.main_container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 60%;
    gap: 0;
}
.search_section{
    grid-row: 1;
    grid-column: 1;
    height: 45vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.search_container{
    width: 80%;
    height: 60%;
    border-radius: 1.875rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
}
.search_form{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}
.search_button{
    width: 65%;
    margin: 0 auto;
}
.user_map_section{
    grid-column: 2;
    width: 95%;
    height: 89vh;
    display: flex;
    align-items: end;
    justify-content: center;
}
.user_map_container{
    width: 100%;
    height: 80vh;
    border-radius: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
}
.user_map_content{
    width: 90%;
    height: 5%;
}
.user_map_content h2{
    font-size: 1.5rem;
    color: #031751;
    font-weight: 600;
}
.user_map{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}
.user_map_place{
    width: 90%;
    height: 98%;
    background-color: #4f6dc8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_route_info{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
.user_route_info_card{
    width: 18.5rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 1.875rem;
}
.user_route_info_card p{
    height: 2rem;
    font-size: 1rem;
    color: #777;
}
.user_route_info_card label{
    height: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #031751;
}
.route_info_icon{
    text-align: center;
    font-size: 1.75rem;
    width: 3rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #031751;
}
.user_fav_recent_routes_section{
    grid-row: 2;
    grid-column: 1;
    width: 80%;
    margin: 0 auto;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .5);
    border-radius: 1.875rem;
}
.user_fav_recent_routes_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.user_fav_recent_buttons{
    width: 45%;
    display: flex;
    background-color: #f3f3f3;
    height: 3rem;
    border-radius: .5rem;
}
.user_fav_recent_buttons button{
    width: 50%;
    color: #334155;
    font-size: 1rem;
    font-weight: 600;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}
.user_fav_recent_buttons button.btn_home_active{
    margin: auto;
    width: 60%;
    height: 90%;
    background-color: #031751;
    color: #fff;
    border: 2px solid #031751;
}
.user_fav_route_home_section{
    display: flex;
    flex-direction: column;
}
.user_fav_route_home_container{
    display: flex;
    flex-direction: column;
    gap: .75rem;
}
.user_side_section_home_text{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user_side_section_home_text h3{
    color: #031751;
    font-size: 1rem;
    font-weight: 600;
}
.user_side_section_home_text button{
    border: none;
    background-color: #fff;
    cursor: pointer;
    color: #031751;
    font-size: .85rem;
    font-weight: 500;
}
.user_fav_route_home_content{
    width: 98%;
    margin: auto;
    height: 3.75rem;
    background-color: #f5f5f5;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    gap: .75rem;
}
.user_fav_route_home_content_text{
    font-size: 1.2rem;;
}
.user_fav_route_home_content button{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20%;
    background-color: #031751;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;    
}
.user_side_section_inactive{
    display: none;
}
.user_recent_route_home_content{
    width: 98%;
    margin: auto;
    height: 7rem;
    background-color: #f8f8f8;
    border-radius: 1rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    gap: .75rem;
}
.user_recent_route_home_time{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.user_recent_route_home_content h3{
    font-size: 1.2rem;
    color: #031751;
    font-weight: 500;
}
.user_recent_route_home_content p{
    font-size: 1rem;
    color: #334155;
}


